h1 {
	color: white;
	font-size: 35px;
	font-family: Roboto;
	padding: 50px;
	text-align: center;
	line-height: 30px;
}

h2 {
	color: black;
	font-size: 24px;
	font-family: Roboto;
	font-weight: 800;
	text-align: left;
	line-height: 30px;
	position: absolute;
	top: 200px;
	left: 50px;
}

p {
	color: black;
	font-size: 20px;
	font-family: Roboto;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	position: relative;
	top: 110px;
	opacity: 0.0;
}


#GDESFontSize {
	font-size: 25px;
	font-weight: 200;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: black; 
}

#footer {
    position: absolute;
    top: 1250px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black; 
}


.container {
	width: 900px;
	height: 900px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	position: absolute;
	top: 280px;
	left: 280px;
}

.topleft {
	grid-column-start: 1;
	grid-column-end: 1 span;
	grid-row-start: 1;
	grid-row-end: 1 span;
	background: url("projects/Covers-01.jpg") no-repeat;
    display: inline-block;

}

.topleft:hover {
	grid-column-start: 1;
	grid-column-end: 1 span;
	grid-row-start: 1;
	grid-row-end: 1 span;
	display: inline;
	background: url("projects/Covers-Hover-01.jpg");
    display: inline-block;

}

.topmiddle {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	background: url("projects/Covers-02.jpg") no-repeat;
    display: inline-block;
}

.topmiddle:hover {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	background: url("projects/Covers-11.jpg") no-repeat;
    display: inline-block;
}

.topright {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	background: url("projects/Covers-03.jpg") no-repeat;
}

.topright:hover {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	background: url("projects/Covers-12.jpg") no-repeat;
}

.middleleft {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
	background: url("projects/Covers-04.jpg") no-repeat;
}

.middleleft:hover {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
	background: url("projects/Covers-13.jpg") no-repeat;
}

.middle {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	background: url("projects/Covers-05.jpg") no-repeat;
}

.middle:hover {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	background: url("projects/Covers-14.jpg") no-repeat;
}

.middleright {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	background: url("projects/Covers-06.jpg") no-repeat;
}

.middleright:hover {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	background: url("projects/Covers-15.jpg") no-repeat;
}

.bottomleft {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
	background: url("projects/Covers-07.jpg") no-repeat;
}

.bottomleft:hover {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
	background: url("projects/Covers-16.jpg") no-repeat;
}

.bottommiddle {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
	background: url("projects/Covers-08.jpg") no-repeat;
}

.bottommiddle:hover {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
	background: url("projects/Covers-17.jpg") no-repeat;
}

.bottomright {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
	background: url("projects/Covers-09.jpg") no-repeat;

}

.bottomright:hover {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
	background: url("projects/Covers-18.jpg") no-repeat;

}